html, body {
    height: 100%;
  }
  
  body {
    background-image: url('Materials/newhero.png');
    
      /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    display: flex;
  ;
  
    /* This centers our sketch horizontally. */
    justify-content: left;
  
    /* This centers our sketch vertically. */
    align-items: left;
  }